/* ************************* HAMBURGER - open + close Button ************************* */
.menu-btn, .menu-btn-cross {
border: 0px red solid;
display: table;
margin: 2rem auto 1rem;
padding: 0;
}
.menu-btn {
position: relative;
}
.menu-btn-cross {
height: initial;
margin: 0;
position: fixed;
right: 4%;
top: 14%;
z-index: 999;
}
.menu-btn a,
.menu-btn-cross a {
display: table-cell;
margin: -0.5rem;
padding: 0.5rem;
text-decoration: none;
}
.menu-btn-cross a {
background-color: rgba(255, 255, 255, 0.2);
}
.btn-open div, .btn-close div {
background-color: #E53935;
height: 6px;
margin-bottom: 10px;
-webkit-transition: transform 0.1s ease-in-out;
transition: transform 0.1s ease-in-out;
width: 50px;
}
.btn-open div:last-child,
.btn-close div:last-child {
margin-bottom: 0;
}
.btn-open:hover {
color: #34B484;
}
.btn-close .top {
-webkit-transform: translateY(16px) rotate(45deg);
transform: translateY(16px) rotate(45deg);
}
.btn-close .middle{
-webkit-transform: translateY(0px) rotate(-45deg);
transform: translateY(0px) rotate(-45deg);
opacity:0;
}
.btn-close .bottom {
-webkit-transform: translateY(-16px) rotate(-45deg);
transform: translateY(-16px) rotate(-45deg);
}
/* ************************* OVERLAY - Menu + Newsbox ************************* */
.overlay {
background: url(images/lck_bgoverlay.png) 50% 50% repeat #2a2a2a;
display: none;
height: 100%;
height: 100vh;
overflow-x: hidden;
overflow-y: auto;
position: fixed;
left: 0;
top: 0;
width: 100%;
width: 100vw;
z-index: 998;
}
.overlay .menu {
background: rgba(0,0,0,0.2); /* fallback color if gradients are not supported */
background: -webkit-linear-gradient(top, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.1) 66%, rgba(0,0,0,0) 100%);
background: -moz-linear-gradient(top, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.1) 66%, rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.1) 66%, rgba(0,0,0,0) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.1) 66%, rgba(0,0,0,0) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.1) 66%, rgba(0,0,0,0) 100%);
border-bottom: 1px dashed #212121;
margin: 3% auto;
padding: 0;
/* text-align: center; */ /* optional */
width: 90%;
}
.overlay .menu ul {
margin: 0;
padding: 0;
width: 100%;
}
.overlay .menu > ul {
box-sizing: border-box;
padding: 2% 5%;
/* text-align: center; */ /* optional */
}
.overlay .menu ul li {
display: inline-block;
list-style: none;
padding: 0.4rem 0;
text-align: left;
text-transform: uppercase;
width: 24%;
}
.overlay .menu ul li a {
color: #34B484;
font-weight: 700;
}
.overlay .menu ul li a:hover {
color: rgba(52, 180, 132, 0.8);
}
.overlay .menu ul li span {
color: #34b484;
font-size: 1rem;
font-weight: 300;
}
.overlay .menu ul li span:before {
content: url(images/listimage_triangle02.gif);
padding-right: 0.2rem;
margin-left: -0.4rem;
}
.overlay .menu ul.menulevel2 {
/* min-height: 23rem; */ /* optional */
}
.overlay .menu ul ul {
/* margin: 0 0 0.6rem 0; */ /* optional - space between menulevels */
}
.overlay .menu ul ul li {
border: 0;
display: table;
float: none;
line-height: 1.8rem;
margin: 0;
padding: 0 0 0 0.2rem;
position: relative;
width: 100%;
}
.overlay .menu ul ul li a {
color: #E0E0E0;
font-weight: 300;
text-transform: capitalize;
}
.overlay .menu ul ul li a:hover,
.overlay .menu ul ul li span:hover {
color: #34b484;
}
/* font-size ml1 - ml9 */
.overlay .menu ul li a {
font-size: 1.4rem;
}
.overlay .menu ul ul li a {
font-size: 1.35rem;
}
.overlay .menu ul ul ul li a {
font-size: 1.3rem;
}
.overlay .menu ul ul ul ul li a {
font-size: 1.25rem;
}
.overlay .menu ul ul ul ul ul li a {
font-size: 1.2rem;
}
.overlay .menu ul ul ul lu ul ul li a {
font-size: 1.15rem;
}
.overlay .menu ul ul ul ul ul ul ul li a {
font-size: 1.1rem;
}
.overlay .menu ul ul ul ul ul ul ul ul li a {
font-size: 1.05rem;
}
.overlay .menu ul ul ul ul ul ul ul ul ul li a {
font-size: 1rem;
}

/* ************************* RESPONSIVE STYLE */
@media screen and (max-width: 979px) {
.overlay .menu ul li {
	line-height: 2rem;
	width: 33%;
}
.menu-btn-cross {
	right: 4%;
}
.btn-open div, .btn-close div {
	height: 3px;
	margin-bottom: 6px;
	width: 40px;
}
.btn-close .top {
-webkit-transform: translateY(9px) rotate(45deg);
transform: translateY(9px) rotate(45deg);
}
.btn-close .middle{
-webkit-transform: translateY(0px) rotate(-45deg);
transform: translateY(0px) rotate(-45deg);
opacity:0;
}
.btn-close .bottom {
-webkit-transform: translateY(-9px) rotate(-45deg);
transform: translateY(-9px) rotate(-45deg);
}
}

@media screen and (max-width: 767px) {
.menu-btn-cross {
right: 3%;
}
.menu-btn-cross a {
padding: 0.6rem 0;
}
.overlay .menu {
background: none;
margin: 2% auto;
width: 96%;
}
.overlay .menu ul li {
float: none;
margin: 0 auto;
width: 49%;
}
.overlay .menu ul li:last-child {
	border: 0;
}
.overlay .menu ul.menulevel2 {
min-height: 0;
}
}

@media screen and (max-width: 479px) {
.menu-btn-cross {
right: 4%;
}
.overlay .menu ul li {
border-bottom: 1px solid #424242;
text-align: center;
width: 100%;
}
.overlay .menu ul ul li {
padding: 0 0 0 0.3rem;
}
}

/* ************************* NEWSBOXES ************************* */
.tpllck_newsboxes {
margin: 0 auto;
width: 80%;
}
.tpllck_newsboxes ul {
display: table;
font-size: 1.4rem;
margin: 0;
padding: 0 0 3rem;
width: 100%;
}
.tpllck_newsboxes li {
background-color: rgba(66, 66, 66, 0.3);
box-sizing: border-box;
display: table-cell;
height: 100%;
list-style: none;
margin: 0;
padding: 1% 3%;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
}
.tpllck_newsboxes li.spacer {
background: none;
margin: 0;
padding: 0;
width: 1%;
}
.tpllck_newsboxes li:last-child {
margin-bottom: 0;
}
.tpllck_newsboxes li:hover {
background-color: rgba(52, 180, 132, 0.3)
}

/* ************************* RESPONSIVE STYLE */
@media screen and (max-width: 1279px) {
.tpllck_newsboxes {
width: 90%;
}
}

@media screen and (max-width: 799px) {
.tpllck_newsboxes ul {
padding: 0 0 1rem;
}
.tpllck_newsboxes li {
display: block;
margin-bottom: 1rem;
width: 100%;
}
}
/* ************************* Template by lck 04/2017 ************************* */