/* scroll-to-top button */
.scroll-to-top {
background: #212121 url(images/smoothscroll_up.png) no-repeat center;
border-radius: 5px;
color: #444;
cursor: pointer;
display: none;
height: 50px;
opacity: 0.7;
position: fixed;
bottom: 20%;
right: 1%;
text-align: center;
text-decoration: none;
/* text-indent: -9999px; */ /* optional - hide the Link-Text e.g. "TOP" */
width: 50px;
}
.scroll-to-top:hover {
	opacity: 1;
}
.scroll-to-top:focus { /* hide the dotted link-border in IE */
	outline: none;
}