<!DOCTYPE html>
<html lang="<?php echo $sl;?>">
<?php
// if jQuery4CMSimple is installed, include its jQuery library
if (is_readable($pth['folder']['plugins'].'jquery/jquery.inc.php')) {
	include_once $pth['folder']['plugins'].'jquery/jquery.inc.php';
	include_jQuery();
}
?>
<head>
<?php echo head();?>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="<?php echo $pth['folder']['template']?>fonts/open-sans-condensed/open-sans-condensed.css" rel="stylesheet">
<link href="<?php echo $pth['folder']['template']?>lck_overlay.css" rel="stylesheet">
<link href="<?php echo $pth['folder']['template']?>smoothscroll.css" rel="stylesheet">
</head>

<body <?php if (XH_ADM) echo 'class="' . ($normal ? 'adminview' : 'adminedit') . '"'?> id="tpllck_body" <?php echo onload();?>>
<?php if (!is_readable($pth['folder']['plugins'].'jquery/jquery.inc.php')) { // jQuery4CMSimple is not installed! Emit a warning ?>
<div class="cmsimplecore_warning">This template requires <a href="http://cmsimple.holgerirmler.de/en/?Plugins:jQuery">jQuery4CMSimple</a>. Please <a href="http://cmsimple.holgerirmler.de/en/?download=jquery_for_CMSimple_latest.zip">download</a> and install it first.</div>
<?php } ?>
<div id="TOP"></div>
	
<div class="tpllck_container">
<!-- ************************* Left-Container - Languagemenu, Sitename, Menu-Button, Subnavigation ************************* -->
	<div class="tpllck_left_container">
		<div class="tpllck_sidebar">
			<div class="languagemenu"><?php echo languagemenu();?></div>
			
			<div class="tpllck_sitename"><a href="./" title="Home"><?php echo sitename();?></a></div>
			
			<div class="menu-btn">
				<a class="btn-open" href="javascript:void(0)" title="Navigation + News">
				<div class="top"></div>
				<div class="middle"></div>
				<div class="bottom"></div>
				</a>
			</div>
			
			<!-- Subnav -->
			<div class="tpllck_subnav">
				<div class="navinner">
					<div class="navicons">
					<span class="tpllck_search inactive"><a href="javascript:void(0)">
					<img src="<?php echo $pth['folder']['templateimages'];?>gmi_search.png" alt="<?php echo $tx['title']['search'] ?>" title="<?php echo $tx['title']['search'] ?>">
					</a></span>
					<span><a href="./?&amp;sitemap">
					<img src="<?php echo $pth['folder']['templateimages'];?>gmi_sitemap.png" alt="<?php echo $tx['menu']['sitemap'] ?>" title="<?php echo $tx['menu']['sitemap'] ?>">
					</a></span>
					<span><a href="<?php echo XH_printUrl();?>">
					<img src="<?php echo $pth['folder']['templateimages'];?>gmi_print.png" alt="<?php echo $tx['menu']['print'] ?>" title="<?php echo $tx['menu']['print'] ?>">
					</a></span>
					<span><a href="./?&amp;mailform">
					<img src="<?php echo $pth['folder']['templateimages'];?>gmi_mail.png" alt="<?php echo $tx['menu']['mailform'] ?>" title="<?php echo $tx['menu']['mailform'] ?>">
					</a></span>
					<form method="post" id="searchform" action="index.php">
					<input id="searchfield" type="text" name="search" value="<?php echo $tx['title']['search'] ?>..." onfocus="if (this.value == '<?php echo $tx['title']['search'] ?>...') {this.value = '';}" onblur="if (this.value == '') {this.value = '<?php echo $tx['title']['search'] ?>...';}">
					<input type="hidden" name="function" value="search">
					</form>
					</div>
					
					<div class="navlink">
					<span><a href="#">Impressum</a></span>
					<span><a href="#">Datenschutz</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<!-- ************************* Right-Container - Content ************************* -->
	<div class="tpllck_right_container">
		<div class="tpllck_content">
			<div class="tpllck_content_main">
				<div class="tpllck_locator"><span><?php echo $tx['locator']['text'];?></span><span><?php echo locator();?></span></div> <!-- Bread-Crumbs-Locator -->
				<?php echo content();?>
				<div class="tpllck_submenu"><?php echo submenu('<span>%s</span>');?></div>
			</div>
			
			<!-- ************************* Footer -->
			<div id="tpllck_footer">
				<div class="tpllck_copyright">					
					<div class="lastupdate"><?php $tx['lastupdate']['dateformat']="d.m.Y";echo lastupdate(1);?></div>
					<span><a href="http://www.cmsimple-xh.org/" target="_blank">Powered by CMSimple_XH</a></span>  •  <span><?php echo loginlink();?></span>  •  <span><a href="http://www.cmsimplexh.momadu.de/" target="_blank">Template by lck</a></span>
					<?php if($adm && !$edit) {echo '  •  <span><a href="http://validator.w3.org/check?uri=referer">html</a></span>  •  <span><a href="http://jigsaw.w3.org/css-validator/check/referer">css</a></span>';} ?>			
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ************************* Overlay Menu + Newsboxes ************************* -->
<div class="overlay">
	<div class="menu-btn-cross">
		<a class="btn-close" href="javascript:void(0)">
		<div class="top"></div>
		<div class="middle"></div>
		<div class="bottom"></div>
		</a>
	</div>
	<div class="menu"><?php echo li($hc,1);?></div>
	
	<!-- Newsboxes -->
	<div class="tpllck_newsboxes">
		<ul>
			<li><?php echo newsbox('News01');?></li>
			<li class="spacer"></li>
			<li><?php echo newsbox('News02');?></li> <!-- For an additional Newsbox e.g. 'News03', copy this line and the front of it and paste it below -->
		</ul>
	</div>
</div>
<!-- ************************* Menu overlay script ************************* -->
<script src="<?php echo $pth['folder']['template']?>scripts/menu_overlay.js"></script>

<!-- ************************* Smooth scroll-to-top button + script ************************* -->
<div><a href="#TOP" class="scroll-to-top" title="TOP"> </a></div>
<script src="<?php echo $pth['folder']['template']?>scripts/smoothscroll.js"></script>

<!-- ************************* Searchform script ************************* -->
<script type="text/javascript">
$(".tpllck_search").on("click", function(argument) {
	if( $(this).hasClass("inactive") ) {
	$(this).removeClass("inactive").addClass("active");
	} else {
	$(this).removeClass("active").addClass("inactive");
	}
});
// Function for close the Modal
function closeModal(){
  $(".tpllck_search").removeClass("active").addClass("inactive");
}
// Close the Modal - press ESC key
$(document).keyup(function(e) {
  if (e.keyCode == 27) {
    closeModal();
  }
});
</script>

</body>
</html>