<?php
/*
This file is part of a template, which was created by Torsten Behrens.
Take a modern CMSimple XH version. www.cmsimple-xh.org www.cmsimple.name www.cmsimple.me www.cmsimple.eu

Version 08.08.2013. Update for jQuery4CMSimple.
##################################################################################
# Dies ist ein GPL3 Template von Torsten Behrens.                                #
# Torsten Behrens                                                                #
# Dorfstraße 2                                                                   #
# D-24619 Tarbek                                                                 #
# USt.ID-Nr. DE214080613                                                         #
# http://torsten-behrens.de                                                      #
# http://tbis.info                                                               #
# http://tbis.net                                                                #
# http://cmsimple-templates.de                                                   #
# http://cmsimple-templates.com                                                  #
##################################################################################
*/
include ($pth['folder']['template'].'tb_toc.php');
include ($pth['folder']['template'].'tb_toc_h.php');
include ($pth['folder']['template'].'tb_toc_v.php');
include ($pth['folder']['template'].'tbsuchen.php');



?>


<?php
// if jQuery4CMSimple is installed, include its jQuery library
if (is_readable($pth['folder']['plugins'].'jquery/jquery.inc.php')) {
    include_once $pth['folder']['plugins'].'jquery/jquery.inc.php';
    include_jQuery();
}
?>
<!DOCTYPE html>
<html lang="<?php echo $sl;?>">
<head><link rel="shortcut icon" href="favicon.ico" >


    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">



<?php echo head();?>
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<link rel="stylesheet" href="<?php echo $pth['folder']['template'];?>style.css" media="screen">
	<!--[if lte IE 7]><link rel="stylesheet" href="<?php echo $pth['folder']['template'];?>style.ie7.css" media="screen" /><![endif]-->
	<link rel="stylesheet" href="<?php echo $pth['folder']['template'];?>style.responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Coming+Soon&amp;subset=latin">



    <script type="text/javascript" src="<?php echo $pth['folder']['template'];?>script.js"></script>
        <script type="text/javascript" src="<?php echo $pth['folder']['template'];?>script.responsive.js"></script>




        <style>
        .tbisgpl3-content .tbisgpl3-postcontent-0 .layout-item-0 { border-top-width:1px;border-top-style:solid;border-top-color:#B8B8B8;margin-top: 10px;margin-bottom: 10px;  }
        .tbisgpl3-content .tbisgpl3-postcontent-0 .layout-item-1 { border-right-style:solid;border-right-width:1px;border-right-color:#B8B8B8; padding-right: 10px;padding-left: 10px;  }
        .ie7 .tbisgpl3-post .tbisgpl3-layout-cell {border:none !important; padding:0 !important; }
        .ie6 .tbisgpl3-post .tbisgpl3-layout-cell {border:none !important; padding:0 !important; }

        </style>

    </head>
<body id="body" <?php echo onload();?>>
<?php if (!is_readable($pth['folder']['plugins'].'jquery/jquery.inc.php')) { // jQuery4CMSimple is not installed! Emit a warning ?>
<div class="cmsimplecore_warning">This template requires <a href="http://cmsimple.holgerirmler.de/en/?Plugins:jQuery">jQuery4CMSimple</a>. Please <a href="http://cmsimple.holgerirmler.de/en/?download=jquery_for_CMSimple_latest.zip">download</a> and install it first.</div>
<?php } ?>

<div id="tbisgpl3-main">
<nav class="tbisgpl3-nav">
                    	  <?php echo tb_li_h($hc, 'menulevel');?>

    </nav>
<header class="tbisgpl3-header">


    <div class="tbisgpl3-shapes">

            </div>
<h1 class="tbisgpl3-headline" data-left="25.12%">
    <a href="#"><?php echo sitename();?></a>
</h1>
<h2 class="tbisgpl3-slogan" data-left="87.31%"><?php echo $title;?></h2>






</header>
<div class="tbisgpl3-sheet clearfix">
            <div class="tbisgpl3-layout-wrapper">
                <div class="tbisgpl3-content-layout">
                    <div class="tbisgpl3-content-layout-row">
                        <div class="tbisgpl3-layout-cell tbisgpl3-sidebar1"><div class="tbisgpl3-block clearfix">
        <div class="tbisgpl3-blockcontent"><div>
         	                              <?php echo tbsuchen();?>

</div></div>
</div><div class="tbisgpl3-block clearfix">
        <div class="tbisgpl3-blockcontent"><?php echo newsbox('News01');?></div>
</div><div class="tbisgpl3-block clearfix">
        <div class="tbisgpl3-blockcontent"><div>
  <?php echo newsbox('News02');?>
</div></div>
</div></div>
                        <div class="tbisgpl3-layout-cell tbisgpl3-content"><article class="tbisgpl3-post tbisgpl3-article">


                                        <div class="tbisgpl3-postcontent tbisgpl3-postcontent-0 clearfix">

                         <div class="tbisgpl3-content-layout">
								<?php echo $tx['template']['text1']; ?>





                            <div class="tbisgpl3-content-layout-row">

                            <div class="tbisgpl3-layout-cell layout-item-0" style="width: 100%" >
                                <?php echo editmenu();?>
                                <?php echo content();?>
                                <?php echo submenu();?>
                            </div>
                            </div>
                        </div>
                        </div>


                        </article></div>
                        <div class="tbisgpl3-layout-cell tbisgpl3-sidebar2"><div class="tbisgpl3-vmenublock clearfix">
        <div class="tbisgpl3-vmenublockcontent">
                                              <?php echo tb_toc(NULL, NULL, 'tb_li_v');?>


        </div>
</div><div class="tbisgpl3-block clearfix">
        <div class="tbisgpl3-blockcontent"><div>
  <?php echo newsbox('News03');?>
</div></div>
</div><div class="tbisgpl3-block clearfix">
        <div class="tbisgpl3-blockcontent"><div>
<?php echo languagemenu();?><?php echo tag('br');?>
<?php echo lastupdate();?>


</div></div>
</div></div>
                    </div>
                </div>
            </div><footer class="tbisgpl3-footer">
<div class="tbisgpl3-content-layout-wrapper layout-item-0">
<div class="tbisgpl3-content-layout layout-item-1">
    <div class="tbisgpl3-content-layout-row">
    <div class="tbisgpl3-layout-cell layout-item-2" style="width: 25%">
        <!-- ONLY THIS Torsten Behrens TEMPLATE IS A GPL3 TEMPLATE -->
        <p><a href="http://torsten-behrens.de/">TBIS GPL3 Template</a><?php echo tag('br');?><a href="http://www.CMSimple.eu">CMSimple GPL3</a></p>
        <!-- SEE MORE Torsten Behrens LinkWare TEMPLATES FOR CMSIMPLE XH ON http://torsten-behrens.de -->
    </div><div class="tbisgpl3-layout-cell layout-item-2" style="width: 25%">
<p>Copyright &copy;  1997-<?php echo date("Y"); ?><?php echo tag('br');?><?php echo date("d.m.Y"); ?></p>    </div><div class="tbisgpl3-layout-cell layout-item-2" style="width: 25%">
        <p><?php echo sitemaplink();?><?php echo tag('br');?><?php echo loginlink();?></p>
    </div><div class="tbisgpl3-layout-cell layout-item-3" style="width: 25%">
        <p><?php echo mailformlink();?><?php echo tag('br');?><?php echo printlink();?></p>
    </div>
    </div>
</div>
</div>

</footer>

    </div>
</div>
</body></html>