/* open-sans-condensed-300 - latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('open-sans-condensed-v10-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'),
       url('open-sans-condensed-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('open-sans-condensed-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('open-sans-condensed-v10-latin-300.woff') format('woff'), /* Modern Browsers */
       url('open-sans-condensed-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('open-sans-condensed-v10-latin-300.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
}
/* open-sans-condensed-300italic - latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: italic;
  font-weight: 300;
  src: url('open-sans-condensed-v10-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Cond Light Italic'), local('OpenSans-CondensedLightItalic'),
       url('open-sans-condensed-v10-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('open-sans-condensed-v10-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('open-sans-condensed-v10-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('open-sans-condensed-v10-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('open-sans-condensed-v10-latin-300italic.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
}
/* open-sans-condensed-700 - latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('open-sans-condensed-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'),
       url('open-sans-condensed-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('open-sans-condensed-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('open-sans-condensed-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('open-sans-condensed-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('open-sans-condensed-v10-latin-700.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
}