/*
 * Adminmenu
 */

#xh_adminmenu_scrolling {
    z-index: 999;
}

#xh_adminmenu_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

#xh_adminmenu {
    width: 100%;
    background-color: #2e3436;
    font-size: 14px;
    padding: 0;
    margin: 0;
    overflow: visible;
    border-bottom: 1px solid #aaa;
    color: #d3d7cf;
}

#xh_adminmenu ul {
    height: 36px;
    list-style-type: none !important;
    list-style-image: none;
    font-family: arial, sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #2e3436;
}

#xh_adminmenu li {
    list-style-type: none !important;
    float: left;
    position: relative;
    width: 125px;
    background-color: #2e3436;
    text-align: center;
    color: #d3d7cf;
    padding: 8px 0 0 0;
    margin: 0;
}

#xh_adminmenu li a:hover,
#xh_adminmenu li:hover {
    background-color: #3f4446;
}

#xh_adminmenu a,
#xh_adminmenu a:visited,
#xh_adminmenu span {
    display: block;
    color: #d3d7cf;
    height: 26px;
    padding: 2px 6px 0px 6px;
    text-decoration: none;
    font-style: normal;
}

#xh_adminmenu span {
    cursor: default;
}

#xh_adminmenu ul ul {
    list-style-type: none !important;
    height: 0;
    left: 0;
    position: absolute;
    top: 36px;
    margin: 0;
    z-index: 9999;
    visibility: hidden;
}

#xh_adminmenu ul ul li {
    background: #4f5456;
    height: 26px;
    padding: 3px 0 0 0;
    margin: 0;
}

#xh_adminmenu ul ul li a,
#xh_adminmenu ul ul li span {
    height: 16px;
    padding: 3px 0 0 0;
    margin: 0;
}

#xh_adminmenu ul ul li:hover {
    height: 26px;
    padding: 3px 0 0 0;
    background: #c50;
}

#xh_adminmenu ul ul li a:hover,
#xh_adminmenu ul ul li span:hover {
    background: #c50;
    height: 20px;
    padding: 3px 0 0 0;
    margin: 0;
}

#xh_adminmenu ul ul ul {
    left: 100%;
    top: 0px;
    width: 100%;
    visibility: hidden;
    padding: 0;
    margin: 0;
}

#xh_adminmenu ul ul ul li {
    background: #c50;
    height: 26px;
    padding: 3px 0 0 0;
    margin: 0;
}

#xh_adminmenu ul ul ul li a,
#xh_adminmenu ul ul ul li span {
    height: 26px;
    padding: 3px 0 0 0;
    margin: 0;
}

#xh_adminmenu ul ul ul li:hover {
    background: #e70;
    height: 26px;
    padding: 3px 0 0 0;
    margin: 0;
}

#xh_adminmenu ul ul ul li a:hover,
#xh_adminmenu ul ul ul li span:hover {
    background: #e70;
    height: 20px;
    padding: 3px 0 0 0;
    margin: 0;
}

#xh_adminmenu li:hover > ul {
    visibility: visible;
}

/*
 * Pluginmenu
 */

.edit {
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    border: 1px solid;
    margin: 2px 0;
}

.edit td {
    padding: 4px 6px;
}

/*
 * Debug mode
 */

.xh_debug {
    height: 18px;
    background: #900;
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    text-align: center;
    border: 0px solid #000;
    padding: 2px 6px;
    margin: auto;
}

.xh_debug_warnings {
    background: #fc0;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #000;
    padding: 4px 6px;
}

/*
 * Messages
 */

.xh_success,
.xh_info,
.xh_warning,
.xh_fail,
.cmsimplecore_warning {
    padding: 0.7em;
    padding-left: 36px;
    border-radius: 7px;
}

.xh_success {
    background: #e1f8cb url("success.png") no-repeat 10px;
    color: #37620d;
    border: 1px solid #c6d880;
}

.xh_info {
    background: #e9f5fb url("info.png") no-repeat 10px;
    color: #16597a;
    border: 1px solid #84c7e9;
}

.xh_warning,
.cmsimplecore_warning {
    background: #ffffbb url("warning.png") no-repeat 10px;
    color: #756730;
    border: 1px solid #ffd324;
}

.xh_fail {
    background: #fbe5e2 url("fail.png") no-repeat 10px;
    color: #992213;
    border: 1px solid #f2a197;
}

/*
 * Mailform
 */

#xh_mailform div {
    width: 250px;
    margin: 0 0 8px 0;
}

#xh_mailform .text, .xh_mailform textarea {
    width: 100%;
    box-sizing: border-box;
}

.xh_captcha_code {
    float: left;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 1px 5px 2px 5px;
    margin: 0 4px;
}

.text, .xh_captcha_input, .xh_mailform textarea {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 13px;
    color: #222;
    background-color: white;
    padding: 2px 4px;
    margin: 0 0 2px 0;
}

.xh_captcha_input  {
    float: left;
    width: 5em;
    border: 1px solid #666;
    margin: 0 0 10px 0;
}

/*
 * System Check
 */

#xh_system_check {
    list-style: none;
}

#xh_system_check li {
    margin-left: 0;
}

#xh_system_check img {
    padding-right: 1em;
}

li.xh_system_check_cat_start {
    margin-top: 1em;
}

/*
 * Pluginloader
 */

div.pluginedit,
div.plugintext {
    border: 0px solid #828177;
    padding: 4px 0;
}

div.plugineditcaption {
    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 0;
}

/*
 * Configuration
 */

#xh_config_form fieldset {
    padding: 1em 0.5em;
    margin: 1em 0;
}

#xh_config_form div.xh_label,
#xh_config_form div.xh_field {
    padding: 0;
    margin: 0;
    border: 0;
    float: left;
}

#xh_config_form div.xh_label {
    width: 35%;
}

#xh_config_form div.xh_field {
    width: 65%;
}

#xh_config_form .xh_field button {
    margin: 0 0 6px 0;
}

#xh_config_form .xh_field select,
#xh_config_form div.xh_field {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#xh_config_form .xh_field select {
    border: 1px solid #bbb;
    font-size: 13px;
    margin: 0 0 6px 0;
}

#xh_config_form div.xh_label span.xh_label {
    margin: 3px 0;
}

#xh_config_form img {
    margin: 0;
}

#xh_config_form input[type="checkbox"] {
    margin: 0.3em 0;
}

#xh_config_form br {
    clear: both;
}

#xh_config_form input.xh_setting,
#xh_config_form input.cmsimplecore_settings,
#xh_config_form textarea.xh_setting,
#xh_config_form textarea.cmsimplecore_settings {
    width: 90%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 13px;
    color: #222;
    padding: 1px 2px;
    margin: 0 0 6px 0;
    border: 1px solid #bbb;
    background: #fff;
    border-radius: 0;
}

#xh_config_form textarea.xh_setting,
#xh_config_form textarea.cmsimplecore_settings {
    height: 49px;
    overflow: hidden;
}

#xh_config_form textarea.xh_setting_short,
#xh_config_form textarea.cmsimplecore_settings_short {
    height: 18px;
}

/*
 * Tooltips
 */

.pl_tooltip {
    font-family: arial, sans-serif;
    font-size: 14px;
}

a.pl_tooltip,
a.pl_tooltip:link,
a.pl_tooltip:visited,
a.pl_tooltip:active {
    position: relative;
    text-decoration: none;
    font-weight: normal;
    border: 0;
}

a.pl_tooltip:hover {
    /* IE needs some change for the a:hover to handle the a:hover span */
    background-color: transparent;
}

a.pl_tooltip span {
    display: none;
}

a.pl_tooltip span p {
    width: auto !important;
}

a.pl_tooltip:hover span {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 360px;
    z-index: 10;
    border: 1px dotted;
    padding: 2px 10px 2px 10px;
    background: #eee;
    color: #222;
    text-align: left;
}

a.pl_tooltip img {
    border: 0;
}

/*
 * New tooltip styling, which allows <p> elements in the help texts.
 * TODO: change that everywhere, and get rid of the old styles for XH 2.0
 */

div.pl_tooltip {
    font: normal normal 14px arial, sans-serif;
    text-decoration: none;
    position: relative;
    border: 0;
    float: left;
    margin-right: .25em;
}

div.pl_tooltip:hover {
    /* IE needs some change for the a:hover to handle the a:hover span */
    /* TODO: check if that's necessary for IE >= 7 */
    background-color: transparent;
}

div.pl_tooltip > div {
    display: none;
}

div.pl_tooltip > div p {
    width: auto !important;
}

div.pl_tooltip:hover > div {
    display: block;
    position: absolute;
    top: 1em;
    left: .7em;
    width: 360px;
    z-index: 10;
    border: 1px dotted #666;
    padding: 7px 10px;
    background: #eee;
    color: #222;
    text-align: left;
}

div.pl_tooltip img {
    border: 0;
    /*vertical-align: text-top;*/
}

/*
 * Pagedata tabs and views.
 */

#xh_pdtabs {
    font-weight: normal;
    margin-top: 10px;
    color: #000;
}

#xh_pdtabs a {
    border: 1px solid #888;
    padding: 1px 3px 2px 3px;
    background-color: #ddd;
    background-image: linear-gradient(to bottom, #eee, #ccc);
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

#xh_pdtabs a:hover {
    color: red;
    cursor: pointer;
    background-color: #cde;
    background-image: linear-gradient(to bottom, #def, #bcd);
}

#xh_pdtabs .xh_active_tab,
#pdtabs .xh_active_tab:hover {
    background-color: #cdc;
    background-image: linear-gradient(to top, #fff, #aba);
    padding-top: 3px;
}

#xh_pdviews {
    background:#fff;
    color: #000;
}

#xh_pdviews .xh_view_toggle {
    width: 20px;
    height: 20px;
    float: right;
    background: url(cross.png) no-repeat top right;
    cursor: pointer;
}

#xh_pdviews .xh_active_view {
    display: block;
    padding: 1.5ex 3ex;
    border: 1px solid #808080;
}

#xh_pdviews .xh_inactive_view {
    display: none;
    display: block;
    padding: 1.5ex 3ex;
    border: 1px solid #808080;
    display: none;
}

/*
 * Modal dialogs
 */

div.xh_modal_dialog_overlay {
    position: fixed;
    display: table;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

div.xh_modal_dialog_center {
    display: table-cell;
    vertical-align: middle;
}

div.xh_modal_dialog {
    overflow: auto;
    color: black;
    background: white;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1em;
}

div.xh_modal_dialog_error {
    padding-top: 1em;
    color: red;
    font-weight: bold;
}

div.xh_modal_dialog_buttons {
    text-align: right;
    padding-top: 0.5em;
}

div.xh_modal_dialog_buttons button {
    width: 5em;
}

form.xh_inline_form {
    display: inline;
}

/*
 * Login form
 */

body.xh_login {}

body.xh_login div.xh_login {
    width: 30em;
    margin: 2em auto 0 auto;
}

div.xh_break {
    float: none;
    clear: both;
    padding: 0;
    border: 0;
    margin: 0;
    width: 100%;
}

/*
 * Miscellaneous
 */

#xh_logfile {
    height: 40em;
    overflow: auto;
    border: 1px solid #888;
    background:white;
    color:black;
    font: 12px/1.6 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#xh_pagedata ul {
    list-style: none;
}

textarea.xh_file_edit {
    width: 99%;
    font-family: Consolas, 'courier new', monospace;
    font-size: 14px;
    color: #222;
    background-color: #fff;
    padding: 0 !important;
}

.flag {
    border: 0;
}

.xh_find {
    background: #fd0;
    color: #000;
}

img.helpicon {
    background: none;
}
