<?php 
if ($cf['xhtml']['endtags'] == 'true') {
echo '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">'."\n".
'<html xmlns="http://www.w3.org/1999/xhtml">'."\n";
} else {
echo '<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">'."\n".'<html>'."\n";} 
?>
<head>
<?php echo head();?>
</head>

<body <?php echo onload();?>>
<div id="bgbody">
<div id="TOP">&nbsp;</div>
	<div id="page">
	<div id="pagein">



<!-- ANFANG HEADER / BEGIN HEADER -->

		<div id="header">
		<div id="headerin">
<?php echo searchbox();?>
<h1><?php echo sitename()?></h1>
		</div>
<div style="clear: both;"></div>
		</div>

<!-- ENDE HEADER / END HEADER -->

<div style="clear: both;"></div>



<!-- ANFANG LOCATOR / BEGIN LOCATOR -->

		<div id="locator">
		<div id="locatorin">
<p class="locator">
<span class="locatortext"><?php echo $tx['locator']['text'];?></span>
<?php echo locator();?>
</p>
		</div>
<div style="clear: both;"></div>
		</div>

<!-- ENDE LOCATOR / END LOCATOR -->

<div style="clear: both;"></div>



<!-- ANFANG LINKE SIDEBAR / BEGIN SIDEBAR LEFT -->

		<div id="sidebar1">
		<div id="sidebar1in">

<?php echo toc();?>

<ul class="subnav">
<li><?php echo printlink();?></li>
<li><?php echo sitemaplink();?></li>
<li><?php echo mailformlink();?></li>
</ul>
<p class="lastupdate"><?php echo lastupdate();?></p>
<div style="clear: both;">&nbsp;</div>
		</div>
<div style="clear: both;"></div>
		</div>

<!-- ENDE LINKE SIDEBAR / END SIDEBAR LEFT -->



<!-- ANFANG INHALT / BEGIN CONTENT -->

		<div id="content">
		<div id="contentin">
<p class="languagemenu">
<?php echo languagemenu();?>
</p>
<?php echo editmenu();?>
<?php echo content();?>

<?php echo submenu();?>
<div style="clear: both;"></div>
		</div>
<div style="clear: both;"></div>
		</div>

<!-- ENDE INHALT / END CONTENT -->



<!-- ENDE RECHTE SIDEBAR / END SIDEBAR RIGHT -->



<div style="clear: both;"></div>



<!-- ANFANG FOOTER / BEGIN FOOTER -->

		<div id="footer">
		<div id="footerin">
<?php echo previouspage();?>  |  
<?php echo top();?>  |  
<?php echo nextpage();?>

<div style="clear: both;"></div>
		</div>
<div style="clear: both;"></div>
		</div>

<!-- ENDE FOOTER / END FOOTER -->



<div style="clear: both;"></div>
	</div>
<div style="clear: both;"></div>
	</div>
<div style="clear: both;"></div>

	<div id="notes">
<p>
Powered by <a href="http://www.cmsimple-xh.de/">CMSimple_XH</a> | 

<!-- If you use an original CMSimple_XH template, please leave the template-link at the bottom of the template: -->
Template by <a href="http://www.cmsimple-xh.de">CMSimple_XH</a> | 
<!-- If you modify an original CMSimple_XH template, please leave the template-link at the bottom of the template, remove the comment chars and change the link of the following line: -->
<!-- modified by <a href="http://www.your-link.tld">your link</a> -->

<a href="http://validator.w3.org/check?uri=referer">(X)html</a> | 
<a href="http://jigsaw.w3.org/css-validator/check/referer">css</a> | 
<?php echo loginlink();?>
</p>

<div style="clear: both;"></div>
	</div>
<div style="clear: both;"></div>
<p style="text-align: center; padding-bottom: 200px; margin: 0;">&nbsp;</p>
</div>
</body>
</html>