<!DOCTYPE HTML>
<?php
// if jQuery4CMSimple is installed, include its jQuery library
if (is_readable($pth['folder']['plugins'].'jquery/jquery.inc.php')) {
    include_once $pth['folder']['plugins'].'jquery/jquery.inc.php';
    include_jQuery();
}
if (function_exists('fa_require')) {
    fa_require();
}
?>
<html lang="<?php echo $sl;?>">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="<?php echo $pth['folder']['template']?>grid.css" rel="stylesheet" type="text/css">
<link href="<?php echo $pth['folder']['template']?>navi.css" rel="stylesheet" type="text/css">
<?php if (!function_exists('fa_require')):?><link href="<?php echo $pth['folder']['template']?>font-awesome.min.css" rel="stylesheet" type="text/css"><?php endif?>
<?php echo head();?>
<link rel="shortcut icon" href="<?php echo $pth['folder']['template']?>favicon.ico" type="image/x-icon">
<link rel="icon" href="<?php echo $pth['folder']['template']?>favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="<?php echo $pth['folder']['template']?>apple-touch-icon-precomposed.png">
<link rel="shortcut icon" type="image/x-icon" href="<?php echo $pth['folder']['template']?>favicon.ico">
<link rel="icon" type="image/x-icon" href="<?php echo $pth['folder']['template']?>favicon.ico">
<link rel="icon" type="image/gif" href="<?php echo $pth['folder']['template']?>favicon.gif">
<link rel="icon" type="image/png" href="<?php echo $pth['folder']['template']?>favicon.png">
<link rel="apple-touch-icon" href="<?php echo $pth['folder']['template']?>apple-touch-icon.png">
<link rel="apple-touch-icon" href="<?php echo $pth['folder']['template']?>apple-touch-icon-57x57.png" sizes="57x57">
<link rel="apple-touch-icon" href="<?php echo $pth['folder']['template']?>apple-touch-icon-60x60.png" sizes="60x60">
<link rel="apple-touch-icon" href="<?php echo $pth['folder']['template']?>apple-touch-icon-72x72.png" sizes="72x72">
<link rel="apple-touch-icon" href="<?php echo $pth['folder']['template']?>apple-touch-icon-76x76.png" sizes="76x76">
<link rel="apple-touch-icon" href="<?php echo $pth['folder']['template']?>apple-touch-icon-114x114.png" sizes="114x114">
<link rel="apple-touch-icon" href="<?php echo $pth['folder']['template']?>apple-touch-icon-120x120.png" sizes="120x120">
<link rel="apple-touch-icon" href="<?php echo $pth['folder']['template']?>apple-touch-icon-128x128.png" sizes="128x128">
<link rel="apple-touch-icon" href="<?php echo $pth['folder']['template']?>apple-touch-icon-144x144.png" sizes="144x144">
<link rel="apple-touch-icon" href="<?php echo $pth['folder']['template']?>apple-touch-icon-152x152.png" sizes="152x152">
<link rel="apple-touch-icon" href="<?php echo $pth['folder']['template']?>apple-touch-icon-180x180.png" sizes="180x180">
<link rel="apple-touch-icon" href="<?php echo $pth['folder']['template']?>apple-touch-icon-precomposed.png">
<link rel="icon" type="image/png" href="<?php echo $pth['folder']['template']?>favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="<?php echo $pth['folder']['template']?>favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="<?php echo $pth['folder']['template']?>favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="<?php echo $pth['folder']['template']?>favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="<?php echo $pth['folder']['template']?>favicon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="<?php echo $pth['folder']['template']?>favicon-196x196.png" sizes="196x196">
</head>

<body<?php echo onload();?>>
<div class="row-full-width" id="header">
<div class="langMenu"><?php echo languagemenu();?></div>
<div class="row">
<div class="header-cont">
<div id="logo"><a href="./" class="logo">&nbsp;</a></div>
<div id="logoTxt"><h1><a href="./">&nbsp;<?php echo sitename()?></a></h1></div>
</div>
</div>
<div class="burger"><i class="fa fa-bars fa-2x"></i></div>
</div>
<nav class="nav_horizontal">
<div class="nav_row"> <?php echo toc();?> </div>
</nav>
<div class="row-full-width" id="wrapper">
<div class="row content">
<div class="c24 ">
<div class="secmenu c8 mw240">
<div id="search1"><?php echo searchbox();?></div>
<?php echo toc(2,9);?>
<div id="newsboxes">
<section class="news">
<div class="newsin"><?php echo newsbox('News01');?></div>
</section>
<section class="news">
<div class="newsin"><?php echo newsbox('News02');?></div>
</section>
</div>
</div>
</div>
<div class="maincont c16 mw240">
<?php echo content();?>
<div class="submenDiv"><?php echo submenu('<span>%s</span>');?></div>
<div id="newsboxes2" class="row">
<section class="news">
<div class="newsin"><?php echo newsbox('News01');?></div>
</section>
<section class="news">
<div class="newsin"><?php echo newsbox('News02');?></div>
</section>
</div>
<noscript>
<p>&nbsp;</p>
<hr>
<p class="noScript">Sie haben JavaScript in Ihrem Browser deaktiviert.<br>
Hier geht es zur Inhaltsübersicht: <a href="?&amp;sitemap">&raquo; Sitemap</a></p>
</noscript>
</div>
</div>
</div>

<div class="row-full-width" id="footer">
<div class="row">
<ul>
<li><?php echo printlink();?> | </li>
<li><?php echo sitemaplink();?> | </li>
<li><?php echo mailformlink();?> | </li>
<!--<li><a href="?Impressum">IMPRESSUM</a> | </li>-->
<li><?php echo loginlink();?></li>
</ul>
</div>
<div class="row">
<hr>
<p class="copyright">
<?php if (function_exists('poweredbylink')):?>
© <?php echo date("Y");?> FIRMA XYZ | <?php echo poweredbylink()?>
<?php else:?>
© <?php echo date("Y");?> FIRMA XYZ | Powered by <a href="http://www.cmsimple-xh.org/" target="_blank">CMSimple_XH</a> | Template by <a href="http://fhseidel.de/" target="_blank">fhs</a></p>
<?php endif?>
</div>
</div>
<div><a id="topLink" href="#"><i class="fa fa-chevron-up fa-3x"></i></a></div>
<script type='text/javascript' src='<?php echo $pth['folder']['template']?>scripts/script.min.js'></script>
<script>
jQuery(document).ready(function() {
    var offset = 200;
    var duration = 750;
    jQuery(window).scroll(function() {
        if (jQuery(this).scrollTop() > offset) {
            jQuery('#topLink').fadeIn(duration);
        } else {
            jQuery('#topLink').fadeOut(duration);
        }
    });
    
    jQuery('#topLink').click(function(event) {
        event.preventDefault();
        jQuery('html, body').animate({scrollTop: 0}, duration);
        return false;
    })
});
</script>

</body>
</html>
