body{}
body,td,p {font-family: Arial, Helvetica, sans-serif;line-height: 1.5em;font-size:12px;color:#616161;}
a:link,a:active,a:visited {color:#616161;}
a:hover{text-decoration:underline;color:#ACC42E;}
hr{height:1px;border:solid #000000 1px;border-top-width:1px;}
H1,H2,H3{font-family: Arial, Helvetica, sans-serif;font-size:20px;font-weight:normal;text-align: left;margin-bottom:6px;color:#ACC42E;}
H4{font-family: Arial, Helvetica, sans-serif;font-size:16px;font-weight:normal;text-align: left;margin-bottom:6px;color:#ACC42E;}
form{margin:0;}
IMG{border:0;}
ul.menulevel1,ul.menulevel2,ul.menulevel3,ul.sitemaplevel1,ul.sitemaplevel2,ul.sitemaplevel3,ul.submenu,ul.search{
padding-left: 0;margin-left: 0;list-style: none;}
li{line-height:1.5;}
li.doc{padding-left: 17px;background-image: url(menu/doc.gif);background-repeat: no-repeat;}
li.docs{padding-left: 17px;background-image: url(menu/docs.gif);background-repeat: no-repeat;}
li.sdoc{padding-left: 17px;background-image: url(menu/sdoc.gif);background-repeat: no-repeat;}
li.sdocs{padding-left: 17px;background-image: url(menu/sdocs.gif);background-repeat: no-repeat;}
.sitename{font-family: Arial, Helvetica, sans-serif;font-weight:normal;color:#616161;font-size:12px;}
.menulevel1,.menulevel2,.menulevel3,.navigator,.sitemaplevel1,.sitemaplevel2,.sitemaplevel3,.submenu{font-weight:bold;font-size:12px;color:#ACC42E;}
.menulevel1 a:link,.menulevel1 a:visited,.menulevel1 a:hover,.menulevel2 a:link,.menulevel2 a:visited,.menulevel2 a:hover,.menulevel3 a:link,.menulevel3 a:visited,.menulevel3 a:hover,.navigator a:link,.sitemaplevel1 a:link,.sitemaplevel2 a:link,.sitemaplevel3 a:link,.sitemaplevel1 a:visited,.sitemaplevel2 a:visited,.sitemaplevel3 a:visited,
.menulevel1 a:active,.menulevel2 a:active,.menulevel3 a:active{font-weight:normal;font-size:12px;color:#616161;text-decoration:none;}
.sitemaplevel1 a:active,.sitemaplevel2 a:active,.sitemaplevel3 a:active,.sitemaplevel1 a:hover,.sitemaplevel2 a:hover,.sitemaplevel3 a:hover,.submenu a:link,.submenu a:visited,.submenu a:active,.submenu a:hover{text-decoration:none;}
.menu{font-weight:normal;font-size:12px;color:#616161;}
.menu a{text-decoration:underline;font-weight:normal;}
#hvmenu {height: 22px;	width: 800px;border-top: 0px solid #616161;border-right: 0px solid #616161;border-bottom: 0px solid #616161;border-left: 0px solid #616161;}
.login,.login a,.login a:link,.login a:visited,.login a:active,.login a:hover{font-weight:normal;font-size:12px;color:#ACC42E;text-decoration:none;}
.date {font-weight:normal;color:#616161;}
.locator {font-size:12px;font-weight:normal;color:#616161;}
.locator a{font-weight:normal;color:#616161;}
.locator a:link,.locator a:visited{color:#616161;text-decoration:none;}
.locator a:active,.locator a:hover{color:#ACC42E;text-decoration:none;}
.navlinks {font-weight:normal;color:#616161;}
.navlinks a{font-weight:normal;color:#616161;}
.navlinks a:link,.navlinks a:visited{color:#616161;}
.navlinks a:active,.navlinks a:hover{color:#ACC42E;}
.navigator a{font-weight:normal;color:#616161;}
.navigator a:link,.navigator a:visited{color:#616161;text-decoration:none;}
.navigator a:active,.navigator a:hover{color:#ACC42E;text-decoration:none;}
.printer{font-weight:normal;color:#000000;}
.printer a{font-weight:normal;color:#000000;}
.printer a:link,.printer a:visited{color:#000000;font-weight:normal;text-decoration:none;}
.printer a:active,.printer a:hover{color:#ffffff;font-weight:normal;text-decoration:none;}
.search a{font-weight:normal;color:#616161;}
.search a:link,.search a:visited{color:#616161;text-decoration:none;}
.search a:active,.search a:hover{color:#ACC42E;text-decoration:none;}
.edit{font-size:12px;color:black;background-color:#ffffff;}
.edit a:link,.edit a:visited,.edit a:active,.edit a:hover{font-weight:normal;text-decoration:none;color:#616161;}
input,select{font-size:12px;text-indent:2px;}
textarea{font-family: Arial, Helvetica, sans-serif;font-size:12px;color:#616161;background-color:transparent;width:98%;}
.searchbox .submit{font-family: Arial, Helvetica, sans-serif;font-size:12px;color:#ffffff;font-weight:normal;border:1px solid #f1f1f1;background-color:transparent;background-image: url(images/search-but.jpg);}
.searchbox .text{font-family: Arial, Helvetica, sans-serif;font-size:12px;color:#616161;background-color:#ffffff;border:1px solid #f1f1f1;background-image: url(images/searchbk.jpg);}
.bodyline	{ background-color: #FFFFFF; border: 1px #616161 solid; }
.cmsline	{ background-color: #FFFFFF; border: 2px #ffffff solid; }
.innerline	{ border: 2px #FFFFFF solid; }
#navlist li {display: inline;color:#ACC42E;font-weight:bold;float:left;margin:0px;padding-right:10px;padding-left:16px;list-style-type:none;text-decoration:none;} 
#navlist ul {color:#616161;font-weight:bold;float:left;margin:0px;} 
#navlist a:link, #navlist a:visited, #navlist a:active {display: inline;color:#616161;font-weight:normal;float:left;margin:0px;} 
#navlist a:hover {color:#ACC42E;font-weight:normal;float:left;margin:0px;} 
.copyright {font-size:12px;color:#616161;font-weight:normal;}
.copyright a,.copyright a:link,.copyright a:visited {color:#616161;font-weight:normal;text-decoration:none;}
.copyright a:hover,.copyright a:active {color:#ACC42E;font-weight:normal;text-decoration:none;}
