<?php
/*
CMSimple_XH
Small - simple - smart
© 2012 cmsimple.pw Template Designer
For downloads and information about installation, please see http://www.cmsimple-xh.org
*/
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html lang="<?php echo $sl;?>">
<head>
  <?php echo head();?>


</head>

<body bgcolor="#FFFFFF" background="<?php echo $pth['folder']['templateimages']?>photography09white-bk.jpg" style="background-repeat: repeat-x" <?php echo onload();?>>
  <a name="top"></a> <!--Fireworks 8 Dreamweaver 8 target.  Created Wed Mar 25 15:36:20 GMT+1100 (AUS Eastern Daylight Time) 2009-->

  <div align="center">
    <table border="0" cellpadding="0" cellspacing="0" width="913">
      <!-- fwtable fwsrc="template.png" fwbase="template.jpg" fwstyle="Dreamweaver" fwdocid = "2062101627" fwnested="0" -->

      <tr>
        <td><img src="<?php echo $pth['folder']['templateimages']?>spacer.gif" width="17" style="height:1px" border="0" alt=""></td>

        <td><img src="<?php echo $pth['folder']['templateimages']?>spacer.gif" width="625" height="1" border="0" alt=""></td>

        <td><img src="<?php echo $pth['folder']['templateimages']?>spacer.gif" width="122" height="1" border="0" alt=""></td>

        <td><img src="<?php echo $pth['folder']['templateimages']?>spacer.gif" width="128" height="1" border="0" alt=""></td>

        <td><img src="<?php echo $pth['folder']['templateimages']?>spacer.gif" width="21" height="1" border="0" alt=""></td>

        <td><img src="<?php echo $pth['folder']['templateimages']?>spacer.gif" width="1" height="1" border="0" alt=""></td>
      </tr>

      <tr>
        <td rowspan="2" colspan="3"><img name="template_r1_c1" src="<?php echo $pth['folder']['templateimages']?>template_r1_c1.jpg" width="764" height="186" border="0" id="template_r1_c1" alt=""></td>

        <td colspan="2"><img name="template_r1_c4" src="<?php echo $pth['folder']['templateimages']?>template_r1_c4.jpg" width="149" height="54" border="0" id="template_r1_c4" usemap="#m_template_r1_c4" alt=""></td>

        <td><img src="<?php echo $pth['folder']['templateimages']?>spacer.gif" width="1" height="54" border="0" alt=""></td>
      </tr>

      <tr>
        <td colspan="2"><img name="template_r2_c4" src="<?php echo $pth['folder']['templateimages']?>template_r2_c4.jpg" width="149" height="132" border="0" id="template_r2_c4" alt=""></td>

        <td><img src="<?php echo $pth['folder']['templateimages']?>spacer.gif" width="1" height="132" border="0" alt=""></td>
      </tr>

      <tr>
        <td colspan="2" style="background-image:url(<?php echo $pth['folder']['templateimages']?>template_r3_c1.jpg)">
          <table border="0" width="100%" cellspacing="0" cellpadding="0">
            <tr>
              <td width="55"> </td>

              <td>
                <table border="0" width="100%" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><!--webbot bot="HTMLMarkup" startspan --></td>
                  </tr>

                  <tr>
                    <td valign="top" align="left" class="locator"><?php echo locator();?></td>
                  </tr><!--webbot bot="HTMLMarkup" endspan i-checksum="10657" -->
                </table>
              </td>

              <td width="18"> </td>
            </tr>
          </table>
        </td>

        <td colspan="3" style="background-image:url(<?php echo $pth['folder']['templateimages']?>template_r3_c3.jpg)">
          <table border="0" width="100%" cellspacing="0" cellpadding="0">
            <tr>
              <td width="14"> </td>

              <td>
                <table border="0" width="100%" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>
                      <p align="right"><!--webbot bot="HTMLMarkup" startspan --></p>
                    </td>
                  </tr>

                  <tr>
                    <td valign="top" align="right" class="menu"><?php echo languagemenu();?></td>
                  </tr><!--webbot bot="HTMLMarkup" endspan i-checksum="41611" -->
                </table>
              </td>

              <td width="38"> </td>
            </tr>
          </table>
        </td>

        <td><img src="<?php echo $pth['folder']['templateimages']?>spacer.gif" width="1" style="height:35px" border="0" alt=""></td>
      </tr>

      <tr>
        <td colspan="5"><img name="template_r4_c1" src="<?php echo $pth['folder']['templateimages']?>template_r4_c1.jpg" width="913" height="29" border="0" id="template_r4_c1" alt=""></td>

        <td><img src="<?php echo $pth['folder']['templateimages']?>spacer.gif" width="1" height="29" border="0" alt=""></td>
      </tr>

      <tr>
        <td valign="top" style="background-image:url(<?php echo $pth['folder']['templateimages']?>template_r6_c1.jpg)"><img name="template_r5_c1" src="<?php echo $pth['folder']['templateimages']?>template_r5_c1.jpg" width="17" height="263" border="0" id="template_r5_c1" alt=""></td>

        <td rowspan="2" colspan="3" style="background-image: url('<?php echo $pth['folder']['templateimages']?>template_r5_c2.jpg'); background-repeat: no-repeat; background-position: left top" bgcolor="#FFFFFF" align="left" valign="top">
          <table border="0" width="100%" cellspacing="0" cellpadding="0">
            <tr>
              <td width="16"> </td>

              <td width="210" align="left" valign="top">
                <table border="0" width="100%" cellspacing="0">
                  <tr>
                    <td valign="top" align="center" class="searchbox"><?php echo searchbox();?></td>
                  </tr>

                  <tr>
                    <td><!--webbot bot="HTMLMarkup" startspan --></td>
                  </tr>

                  <tr>
                    <td valign="top"><?php echo toc();?></td>
                  </tr>

                  <tr>
                    <td valign="top" class="menu"><?php echo sitemaplink();?></td>
                  </tr>

                  <tr>
                    <td valign="top" class="menu"><?php echo printlink();?></td>
                  </tr>

                  <tr>
                    <td valign="top" class="menu"><?php echo mailformlink();?></td>
                  </tr>

                  <tr>
                    <td valign="top" class="login"><?php echo loginlink();?></td>
                  </tr>

                  <tr>
                    <td valign="top" class="menu"><?php echo lastupdate();?></td>
                  </tr>

                  <tr>
                    <td> </td>
                  </tr>

                  <tr>
                    <td><!--webbot bot="HTMLMarkup" startspan --></td>
                  </tr>

                  <tr>
                    <td valign="top" class="menu"><?php echo newsbox('News01')?></td>
                  </tr><!--webbot bot="HTMLMarkup" endspan i-checksum="34647" -->
                </table>
              </td>

              <td width="25"> </td>

              <td align="left" valign="top">
                <table border="0" width="100%" cellspacing="0">
                  <tr>
                    <td><!--webbot bot="HTMLMarkup" startspan --></td>
                  </tr>

                  <tr>
                    <td valign="top" class="menu"><?php echo newsbox('News02')?></td>
                  </tr><!--webbot bot="HTMLMarkup" endspan i-checksum="37871" -->

                  <tr>
                    <td><!--webbot bot="HTMLMarkup" startspan --></td>
                  </tr>

                  <tr>
                    <td valign="top"><?php echo editmenu();?><?php echo content();?><?php echo submenu();?></td>
                  </tr><!--webbot bot="HTMLMarkup" endspan i-checksum="9291" -->

                  <tr>
                    <td><!--webbot bot="HTMLMarkup" startspan --></td>
                  </tr>

                  <tr>
                    <td valign="top" class="menu"><?php echo newsbox('News03')?></td>
                  </tr><!--webbot bot="HTMLMarkup" endspan i-checksum="37873" -->

                  <tr>
                    <td> </td>
                  </tr>
                </table>
              </td>

              <td width="25"> </td>

              <td width="170" align="left" valign="top">
                <table border="0" width="100%" cellspacing="0">
                  <tr>
                    <td><!--webbot bot="HTMLMarkup" startspan --></td>
                  </tr>

                  <tr>
                    <td valign="top" class="menu"><?php echo newsbox('News04')?></td>
                  </tr><!--webbot bot="HTMLMarkup" endspan i-checksum="37875" -->

                  <tr>
                    <td><!--webbot bot="HTMLMarkup" startspan --></td>
                  </tr>

                  <tr>
                    <td valign="top" class="menu"><?php echo newsbox('News05')?></td>
                  </tr><!--webbot bot="HTMLMarkup" endspan i-checksum="37877" -->
                </table>
              </td>

              <td width="17"> </td>
            </tr>
          </table>
        </td>

        <td valign="top" style="background-image:url(<?php echo $pth['folder']['templateimages']?>template_r6_c5.jpg)"><img name="template_r5_c5" src="<?php echo $pth['folder']['templateimages']?>template_r5_c5.jpg" width="21" style="height:263px" border="0" id="template_r5_c5" alt=""></td>

        <td><img src="<?php echo $pth['folder']['templateimages']?>spacer.gif" width="1" height="263" border="0" alt=""></td>
      </tr>

      <tr>
        <td style="background-image:url(<?php echo $pth['folder']['templateimages']?>template_r6_c1.jpg)"><img name="template_r6_c1" src="<?php echo $pth['folder']['templateimages']?>template_r6_c1.jpg" width="17" height="21" border="0" id="template_r6_c1" alt=""></td>

        <td style="background-image:url(<?php echo $pth['folder']['templateimages']?>template_r6_c5.jpg)"><img name="template_r6_c5" src="<?php echo $pth['folder']['templateimages']?>template_r6_c5.jpg" width="21" height="21" border="0" id="template_r6_c5" alt=""></td>

        <td><img src="<?php echo $pth['folder']['templateimages']?>spacer.gif" width="1" height="21" border="0" alt=""></td>
      </tr>

      <tr>
        <td colspan="5" style="background-image:url(<?php echo $pth['folder']['templateimages']?>template_r7_c1.jpg)">
          <table border="0" width="100%" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <p align="center"><!--webbot bot="HTMLMarkup" startspan --></p>
              </td>
            </tr>

            <tr>
              <td valign="top" align="center" class="sitename"><?php echo sitename();?></td>
            </tr><!--webbot bot="HTMLMarkup" endspan i-checksum="49042" -->
          </table>
        </td>

        <td><img src="<?php echo $pth['folder']['templateimages']?>spacer.gif" width="1" style="height:49px" border="0" alt=""></td>
      </tr>

      <tr>
        <td colspan="5" style="background-image:url(<?php echo $pth['folder']['templateimages']?>template_r8_c1.jpg)" align="left" valign="top">
          <table border="0" width="100%" cellspacing="0" cellpadding="0">
            <tr>
              <td width="33"> </td>

              <td align="left" valign="top">
                <table border="0" width="100%" cellspacing="0" cellpadding="0">
                  <tr>
                    <td> </td>
                  </tr>

                  <tr>
                    <td align="center"><!--webbot bot="HTMLMarkup" startspan --></td>
                  </tr>

                  <tr>
                    <td width="100%">
                      <p align="center" class="copyright"><a target="_blank" href="http://www.cmsimple.pw/">Design By cmsimple.pw</a></p>
                    </td>
                  </tr><!--webbot bot="HTMLMarkup" endspan i-checksum="53760" -->

                  <tr>
                    <td align="center"> </td>
                  </tr>

                  <tr>
                    <td align="center"><!--webbot bot="HTMLMarkup" startspan --></td>
                  </tr>

                  <tr>
                    <td valign="top" align="center" class="login"><?php echo loginlink();?></td>
                  </tr><!--webbot bot="HTMLMarkup" endspan i-checksum="21148" -->
                </table>
              </td>

              <td width="39"> </td>
            </tr>
          </table>
        </td>

        <td><img src="<?php echo $pth['folder']['templateimages']?>spacer.gif" width="1" style="height:117px" border="0" alt=""></td>
      </tr>
    </table>
  </div><map name="m_template_r1_c4" id="m_template_r1_c4">
    <area shape="poly" coords="62,21,84,21,84,43,62,43,62,21" href="?sitemap" alt="">
    <area shape="poly" coords="93,21,115,21,115,43,93,43,93,21" href="?mailform" alt="">
    <area shape="poly" coords="32,21,54,21,54,43,32,43,32,21" href="index.php" alt="">
  </map>
</body>
</html>
