<!DOCTYPE html>
<html lang="<?php echo $sl;?>">
<head>
<?php echo head();?>
	<!--[if lte IE 6]><style type="text/css">.container{width:70em}.content{width:48em;}.sidebar{width:18em}.newsbox2{width:31em}</style><![endif]-->
</head>

<body id="body" <?php echo onload();?>>

    <!--Head Navigation-->
    <div class="headnav">
        <p>
            <?php echo mailformlink();?> &nbsp;
            <?php echo sitemaplink();?> &nbsp;
            <?php echo printlink();?> &nbsp;
            <?php echo languagemenu();?>
        </p>
    </div>


<!--Container-->
<div class="container">

    <!--Header-->
    <div class="header">
        <h1><?php echo '<span>'.sitename().'</span>'.sitename();?></h1>
        <?php echo searchbox();?>
        <p><?php echo lastupdate();?></p>
        <div style="clear:both"></div>
    </div>


    <!--Navigation 1st level-->
    <div class="nav">
        <?php echo toc(1);?>
    </div>


    <!--Navigation 2nd-3rd level -->
    <div class="nav2">
        <?php echo toc(2,3);?>
    </div>


    <!--Bread-Crumbs-Locator-->
    <div class="locator">
        <p><?php echo locator();?></p>
    </div>


    <!--Content-->
    <div class="content">
        <?php echo content();?>

        <!--Submenu -->
        <div class="submenu">
            <?php echo submenu();?>
        </div>
    </div>


    <!--Sidebar-->
    <div class="sidebar">
        <?php echo newsbox('News01');?>
    </div>


    <!--2nd + 3rd Newsbox-->
    <div class="subarea">
        <div class="newsbox2">
            <?php echo newsbox('News02');?>
        </div>
        <div class="newsbox2">
            <?php echo newsbox('News03');?>
        </div>
    </div>


    <!--Next/Previous Page Navigation-->
    <table class="subnav">
        <tr>
            <td class="previous"><?php echo previouspage();?></td>
            <td class="top"><?php echo top();?></td>
            <td class="next"><?php echo nextpage();?></td>
        </tr>
    </table>

<!--End of Container-->
</div>

<!--Copyright-->
    <p class="copyright"><a href="http://www.cmsimple-xh.org/" target="_blank">Powered by CMSimple_XH</a> · <?php echo loginlink();?> ·
    <a href="http://www.frankziesing.de/cmsimple/" target="_blank">Template by svasti</a></p>

</body>
</html>
