<IfModule !authz_core_module>
    order deny,allow
    <Files "template.htm">
        deny from all
    </Files>
</IfModule>
<IfModule authz_core_module>
    <Files "template.htm">
        Require all denied
    </Files>
</IfModule>
