Vorlage Infos Deutsch  
© Responsive template richu172 by Kircher Richard 2017 / http://richukunst.ch  
Eine einfache Vorlage mit grundlegenden Vorlagenfunktionen für CMSimple_XH 1.7.x
Valid HTML5!
Valid CSS!
Encoding: utf-8 ohne BOM Codiert
Browser Test: mit den version Internet Explorer 9-11, Microsoft Edge, Firefox 52.0.2, 44.0.2510.1218, Google Chrome Version Version 57.0.2987.133,

Die Templates dürfen frei verwendet werden, privat sowie kommerziell.
Jedoch muss der jeweilige Link auf richukunst.ch zwingend beibehalten werden.
Lizensiert unter der Creative Commons Attribution 3.0 Unported.
http://creativecommons.org/licenses/by-sa/3.0/deed.de 

Sie können ein Template von richukunst.ch verändern, Ihr Link kann dann so verlinkt werden:
Template by richukunst.ch modifiziert durch Ihren Link

Template richu172 verwendet nur reines CSS und HTML, JavaScript oder sonstige Scripts werden nicht eingesetzt.
 
Template richu172 ist für CMSimple_XH 1.7- und höher optimiert. Ist aber auch für CMSimple_XH 1.6- bis CMSimple_XH 1.6.9 kompatibel.

Menülevel1-9 / Überschriften Seite und Newsboxen von <h1> bis <h6>
Jede der vier Newsboxen ist komplett farblich individuell anpassbar. Farblich anpassbar sind in der CSS-Datei, Background Farbe in der Newsbox, die Schrift Farbe des Texts in der Newsbox und die Link Farbe.
 
Zur Bearbeitung der CMSimple_XH Systemdateien sollten Sie ausschliesslich einen Code Editor wie z. B. notepad++ benutzen, der die Codierung "utf-8 ohne BOM" 
(Byte Order Mark) erkennt, die Dateien entsprechend öffnet und auch wieder abspeichert.
Wenn Sie die Systemdateien in einer anderen Codierung als "utf-8 ohne BOM" abspeichern, kann es zu Problemen mit verschiedenen Funktionen von CMSimple_XH kommen.



Templateinfo Englisch
© Responsive template richu172 by Kircher Richard 2017 / http://richukunst.ch 
A simple template with basic template functions for CMSimple_XH 1.7.x
Valid HTML5!
Valid CSS!
Encoding: utf-8 without BOM Codiert
Browser Test: from version Internet Explorer 9-11, Microsoft Edge, Firefox 52.0.2, 44.0.2510.1218, Google Chrome Version Version 57.0.2987.133,

The templates may be freely used, both private and commercial.
However, the respective link to richukunst.ch must be maintained.
Licensed under Creative Commons Attribution 3.0 Unported.
http://creativecommons.org/licenses/by-sa/3.0/deed.en 

You can modify a template of richukunst.ch, your link looks like this.
Template by richukunst.ch modified by your link

Template rich 172 uses only pure CSS and HTML, JavaScript or other scripts are not used.

Template richu172 is optimized for CMSimple_XH 1.7- and higher. Is also compatible with CMSimple_XH 1.6- to CMSimple_XH 1.6.9.

Menulevel1-9 / Header page and newsboxes from <h1> to <h6>
Each of the four newsboxes can be individually customized in color. The CSS color, background color in the newsbox, the font color of the text in the newsbox and the link color are color-customizable.

For editing the CMSimple_XH system files, you should only use a code editor such as notepad ++, which recognizes the encoding "utf-8 without BOM" (byte order mark), which opens and saves the files accordingly.
If you store away the system files in another coding than "utf-8 without BOM", it can come to problems with different functions of CMSimple_XH. 