<!DOCTYPE HTML >
<html lang="<?php echo $sl;?>">
<head>
<?php echo head();?>
</head>
<body <?php echo onload();?>>

<!-- Header: Name der Seite -->
<div class="row">
    <div class="column grid_12">
       	<h1><?php echo sitename();?></h1>
    </div>
</div>
<!-- Header: Bild über gesamte Breite -->
<div class="row">
    <div class="column grid_12">
			<div id=banner>
			</div>
    </div>
</div>

<!-- Content/Editbereich und sidebar  -->
<div class="row">
    <div class="column grid_9">
        <?php echo editmenu();?>
        <?php echo content();?>
    </div>
    <div class="column grid_3">

	<?php echo toc();?>
    <ul>
        <li><?php echo printlink();?></li>
        <li><?php echo sitemaplink();?></li>
        <li><?php echo searchbox();?></li>
        <li><?php echo lastupdate();?></li>
        <li><?php echo mailformlink();?></li>
   </ul>
   </div>
</div>
<!-- Newsboxen 1-3  -->
<div class="row">
<hr>
    <div class="column grid_4">
    <?php echo newsbox('News01');?>
    </div>
    <div class="column grid_4">
    <?php echo newsbox('News02');?>
    </div>
    <div class="column grid_4">
    <?php echo newsbox('News03');?>
    </div>
</div>
<!-- Footer -->
<div class="row">
    <div class="column grid_12">
        <p><?php echo top();?>  | Powered by <a href="http://www.cmsimple-xh.org/">CMSimple_XH</a> | Template by <a href="http://web57.ws/">w.scharff</a> | Accompanying <a href="http://www.cmsimple-xh.org/wiki/doku.php/template_tutorial">Template Tutorial</a> | <?php echo loginlink();?></p>
    </div>
</div>
</body>
</html>