name: Check
on: [push, pull_request]
jobs:
  check:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        php_version: ['7.4', '7.3', '7.2']
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{matrix.php_version}}
          extensions: uopz
          tools: composer,phive
      - name: Checkout CMSimple_XH
        uses: actions/checkout@v2
      - name: phive install
        run: phive --no-progress install --trust-gpg-keys 0x8101FB57DD8130F0
      - name: composer install
        run: composer install
      - name: phing sniff
        run: PATH=tools:vendor/bin:$PATH phing sniff
      - name: phing phan
        run: PATH=tools:vendor/bin:$PATH phing phan
      - name: phing mess
        run: PATH=tools:vendor/bin:$PATH phing mess
      - name: phing compat
        run: PATH=tools:vendor/bin:$PATH phing compat
      - name: phing unit-test
        run: PATH=tools:vendor/bin:$PATH phing unit-tests
